#main {
  font-size: 1.2em;
  background-color: rgba(81, 192, 243, 0.562); 
  font-family: "Tw Cen MT", 'Verdana', sans-serif;
}
.text-lg {
  font-size: 5rem;
}
.text-md {
  font-size: 3rem;
}

.imgBorder {
  border-right: 3px solid rgb(0, 0, 0);
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
  display: block;
}

.img{
  color:black;
}

.fa{
  color:black
}
